div {    font-family: 'Libre Baskerville', serif;
    color: white;

}
body {
    background-image: url("foil.jpg");  background-position: center; /* Center the image */
    padding: 1em;
}
.button-div {
    padding: 2em;
}
.center-div {
    margin: auto;
}
.biggie {
    font-size: 2em;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
